/* ESCRTORIO XL 1366 PX */
*{
    font-family: 'Open-sans', sans-serif;
}

ul, ol {
    list-style: none;
}

a:visited, a:link, a:focus, a:hover, a:active {
    list-style: none;
    text-decoration: none;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

header .logotipo {
    width: 50%;
}

.redes  ul li a i{
    width: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.redes ul li a i.fa-facebook-f {
    background: #1475E0;
}
.redes ul li a i.fa-instagram {
    background: #B18768;
}
.redes ul li a i.fa-twitter {
    background: #00A6FF;
}
.redes ul li a i.fa-youtube {
    background: #F95F62;
}
.redes ul li a i.fa-snapchat-ghost {
    background: #FF9052;
}

.fa-bars {
    font-size: 35px;
}

.redesMovil {
    position: fixed;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0)
}

/* TABLET HORIZONTAL LG 1024 PX */
@media(max-width:1199px) and (min-width: 992px){

}

/* TABLET VERTICAL 768 PX */
@media(max-width:991px) and (min-width: 768px){
    header .logotipo {
        width: 53%;
    }
}

/* MOVIL HORIZONTAL 576 PX */
@media(max-width:767px) and (min-width: 576px){
    .fade-slider {
        height: 65px;
    }
}

/* MOVIL VERTICAL 320 PX */
@media(max-width:575px){
    header .logotipo {
        width: 90%;
    }

    .fade-slider {
        height: 56px;
    }
}